body{

font-family:Arial;
background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;

}

.title{

margin-top:30px;
font-size:40px;

}

.fleet-container{

display:flex;
justify-content:center;
gap:40px;
margin-top:50px;

}

.vehicle-card{

background:#1e2a38;
padding:30px;
border-radius:12px;
box-shadow:0px 10px 25px rgba(0,0,0,0.5);
transition:0.3s;

}

.vehicle-card:hover{

transform:scale(1.05);

}

button{

background:#4CAF50;
border:none;
padding:10px 20px;
color:white;
border-radius:6px;
cursor:pointer;

}

button:hover{

background:#45a049;

}

.chart-container{

width:600px;
margin:auto;
margin-top:50px;

}